{{template "header"}}
    <title>Category my beegblog</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class = "container">
         {{template "navbar" .}}
        </div>
    </div>   
    <div class="container">
      <h3>category list</h3>
      <h1>Category List</h1>
      <form method="GET" action="/category">
        <div class="form-group">
          <label>Category Name:</label>
          <input class="form-control" placeholder="Enter category name" name="cname" id="cname">
        </div>
        <input type="hidden" name="op" value="add"></input>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">Add</button>
      </form>
      <script type="text/javascript">
        function checkInput(){
          var cname = document.getElementById("cname");
          if (cname.value.length == 0) {
            alert("Please input category name.");
            return false;
          }
          return true;
        }
      </script>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>TopicCount</th>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          {{range .Categories}}
          <tr>
            <th>{{.Id}}</th>
            <th>{{.Title}}</th>
            <th>{{.TopicCount}}</th>
            <th>
              <a href="/category?op=del&id={{.Id}}">Delete</a>
            </th>
          </tr>         
          {{end}}
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="http://cnd.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>