{{template "header"}}
    <title>Topic my beegblog</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class = "container">
         {{template "navbar" .}}
        </div>
    </div>   
    <div class="container">
      <h3>topic list</h3>
      <h1>Topic List</h1>
      <a href="/topic/add" class="btn btn-default">Add Topic</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Updated</th>
            <th>Views</th>
            <th>ReplyCount</th>
            <th>Hadle</th>
          </tr>
        </thead>
        <tbody>
          {{range .Topics}}
          <tr>
            <th>{{.Id}}</th>
            <th>{{.Title}}</th>
            <th>{{.Category}}</th>
            <th>{{.Updated}}</th>
            <th>{{.Views}}</th>
            <th>{{.ReplyCount}}</th>
            <th>
              <a href="/topic/modify?tid={{.Id}}">Modify</a>
              <a href="/topic/delete?tid={{.Id}}">Delete</a>
            </th>
          </tr>         
          {{end}}
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="http://cnd.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>