{{template "header"}}
    <title>My beegblog</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class = "container">
         {{template "navbar" .}}
        </div>
    </div>   
    <div class="container">
     <div class="col-md-9">
      <h3>topic view</h3>
      {{with .Topic}}
      <h1>{{ .Title}}</h1>
      <h6 class="text-muted">Topic create on {{.Created}} has {{.Views}} views has {{.ReplyCount}} replys.</h6>
      {{.Content}}
      {{end}}
    </div>
    </div>

   <div class="container">
    <div class="col-md-9">
       {{$tid := .Topic.Id}}
       {{$IsLogin := .IsLogin}}
       {{range .Comments}}
       <h6 class="text-muted" >
       <b>{{.Name}}</b> replyed topic on {{.Created}}.   {{if $IsLogin}}<a href="/reply/delete?rid={{.Id}}&tid={{$tid}}">Delete</a>{{end}}</h6>
       {{.Content}}
       {{end}}
        <h3>Reply</h3>
        <form method="post" action="/reply/add">
          <input type="hidden" name="tid" value="{{.Topic.Id}}"></inpuv>
          <div class="form-group">
            <label>nickname:</label>
            <input type="text" class="form-control" name="nickname" id="nickname"></input>
          </div>
          <div class="form-group">
            <label>content:</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <button class="btn btn-default" onclick="return checkInput()">Submit</button>
        </form>
      </div>
      </div>
    <script type="text/javascript">
        function checkInput(){
          var nickname = document.getElementById("nickname");
          if (nickname.value.length == 0) {
            alert("Please input nickname.");
            return false;
          }

          var content = document.getElementById("content");
          if (content.value.length == 0) {
            alert("Please input content.");
            return false;
          }
          return true;
        }
    </script>
    <script type="text/javascript" src="http://cnd.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>